<!DOCTYPE html>
<html>
    <%- include('partials/head.ejs', {pageTitle}) %>
    <body>
        <%- include('partials/nav.ejs') %>
        <h3>Login</h3>
            <%- include('partials/loginPartial.ejs') %>
    </body>
</html>