<!DOCTYPE html>
<html>
    <%- include('partials/head.ejs', {pageTitle}) %>
    <body>
        <%- include('partials/nav.ejs') %>
        <% if(msg) { %>
            <p><%= msg %></p>
         <% } %>
        <h3>Sign up</h3>
        <form action="/register" method="POST">
            <label for="name">name</label>
            <input type="text" name="name" id="name">
            <label for="email">email</label>
            <input type="email" id="email" name="email">
            <label for="password">password</label>
            <input type="password" id="password" name="password">
            <label for="confirmpassword">confirm password</label>
            <input type="password" id="confirmpassword" name="confirmpassword">
            <button type="submit">Sign up</button>
        </form>
    </body>
</html>